* {
  text-align: center;
}

#spinner {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid lightgrey;
  border-radius: 50%;
  border-top-color: blueviolet;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg)}
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg)}
}
